snippet vspace
\vspace{${1}em}
endsnippet

snippet \vspace
\vspace{${1}em}
endsnippet

snippet hline
%-------------------------------------------------------------------------------------------------
endsnippet

snippet  %------------
%-------------------------------------------------------------------------------------------------
endsnippet